<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-user-edit">
      <div class="card">
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" class="nav nav-pills">
            <li ngbNavItem>
              <a ngbNavLink class="d-flex align-items-center"
                ><i data-feather="user" class="mr-sm-50"></i><span class="d-none d-sm-block">Role Edit</span></a
              >
              <ng-template ngbNavContent>
                <!-- Account Tab starts -->
                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                  
                  <!-- users edit media object ends -->
                  <!-- users edit account form start -->
                  <form (ngSubmit)="onSubmit()" [formGroup]="form">
                    <div class="row">
                      <div class="col-12">
                        <h4 class="mb-1">
                          <i data-feather="info" [size]="16" class="mr-75 font-medium-4"></i>
                          <!-- <span class="align-middle">Account</span> -->
                        </h4>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="roleId">Role ID</label>
                          <input
                            type="text"
                            id="roleId"
                            class="form-control"
                            placeholder="RoleID"
                            name="roleId"
                            formControlName="roleId"
                            [(ngModel)]="currentRow.roleId"
                            [ngClass]="{ 'is-invalid': submitted && form.roleId.errors }"
                            
                            required
                          />
                          <span *ngIf="submitted && form.roleId.errors" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="form.roleId.errors.required"
                              >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label>Role Name</label>
                          <input
                            type="text"
                            id="roleName"
                            class="form-control"
                            placeholder="RoleName"
                            name="roleName"
                            formControlName="roleName"
                            [(ngModel)]="currentRow.roleName"
                            [ngClass]="{ 'is-invalid': submitted && form.roleName.errors }"
                            required
                          />
                          <span *ngIf="submitted && form.roleName.errors" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="form.roleName.errors.required">roleName is required</small>
                           
                          </span>
                        </div>
                      </div>
                                 
                      <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                        <button
                          type="submit"
                          
                          class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                          rippleEffect
                        >
                          Save Changes
                        </button>
                        <button (click)="resetFormWithDefaultValues()" class="btn btn-outline-secondary" rippleEffect>
                          Reset
                        </button>
                      </div>
                    </div>
                  </form>
                  <!-- users edit account form ends -->
                </div>
                <!-- Account Tab ends -->
              </ng-template>
            </li>
           
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section>
    <!-- users edit ends -->
  </div>
</div>
